<style>
/* Just the Docs code block dark overrides */
:root {
  --code-bg: #31343f;  /* thank you wayback machine. Thank you, thank you, thank you */
  --code-border: #44434d;
  --code-text: #dee2f7;
}

/* Inline code */
:not(pre, figure) > code {
  padding: 0.2em 0.15em;
  font-weight: 400;
  background-color: var(--code-bg) !important;
  border: 1px solid var(--code-border) !important;
  border-radius: 4px;
}

/* Code blocks */
.highlight,
pre.highlight,
div.highlighter-rouge pre.highlight {
  background-color: var(--code-bg) !important;
  color: var(--code-text) !important;
}

/* Prevent double backgrounds */
pre code {
  background: transparent !important;
  border: 0 !important;
}
</style>
