<style>
/* Just the Docs code block dark overrides */
:root {
  --og-bg-colour: #302D36;
  --og-outline-colour: #3D3D46;
}
  
:not(pre, figure) > code {
  background-color: var(--og-bg-colour) !important;
  border: 1px solid var(--og-outline-colour) !important;
}

div.highlighter-rouge pre.highlight,
pre {
  background-color: var(--og-bg-colour) !important;
  border: 1px solid var(--og-outline-colour) !important;
}

pre code {
  background: transparent !important;
  border: 0 !important;
}
</style>
