/* custom styling to restore older Just the Docs dark code block styling as the new styling dosen't fit the site and looks disgusting - don't know why they thought it was a good idea to make the default */
.main-content :not(pre,figure) > code {
  background-color: #555555 !important;
  border: 1px solid #302d36 !important;
  padding: 0.2em 0.15em; /* keep original spacing */
  border-radius: 4px;
}

/* Override fenced code blocks */
.main-content div.highlighter-rouge pre.highlight,
.main-content pre {
  background-color: #555555 !important;
  border: 1px solid #302d36 !important;
}

/* Prevent double background inside blocks */
.main-content pre code {
  background-color: transparent !important;
  border: 0 !important;
}


/* --------------------------------------------- */

/* Override inline code */
.main-content :not(pre,figure) > code {
  background-color: #555555 !important;
  border: 1px solid #302d36 !important;
}

/* Override fenced blocks */
.main-content div.highlighter-rouge pre.highlight,
.main-content pre {
  background-color: #555555 !important;
  border: 1px solid #302d36 !important;
}

/* Remove double background */
.main-content pre code {
  background: transparent !important;
  border: 0 !important;
}
