---
---

/* custom styling to restore older Just the Docs dark code block styling as the new styling dosen't fit the site and looks disgusting - don't know why they thought it was a good idea to make the default */
.main-content pre,
.main-content div.highlighter-rouge pre.highlight {
  background-color: #555555 !important;
  border: 1px solid #302d36 !important;
}

.main-content code {
  background-color: #555555 !important;
}

.main-content pre code {
  background-color: transparent !important;
}
